*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--rose-50);
}
h1{
  grid-column: 1/-1;
  margin-bottom: 32px;
}
button{
  display: block;
}
img{
  display: block;
  max-width: 100%;
}
ul{
  list-style: none;
}
.repository-img{
  display: none;
}