.font-1-xx{
  font: 700 2.5rem/1.20 "Red Hat Text", sans-serif;
}
.font-1-x-b{
  font: 700 1.5rem/1.25 "Red Hat Text", sans-serif;
}
.font-1-x{
  font: 400 1.5rem/1.25 "Red Hat Text", sans-serif;
}
.font-1-m-b{
  font: 600 1rem/1.5 "Red Hat Text", sans-serif;
}
.font-1-m{
  font: 600 1rem/1.5 "Red Hat Text", sans-serif;
}
.font-1-s-b{
  font: 600 0.875rem/1.5 "Red Hat Text", sans-serif;
}
.font-1-s{
  font: 400 0.875rem/1.5 "Red Hat Text", sans-serif;
}


